/* MENU  */
nav {
    display: flex;
    justify-content: center;
    /* grid-template-columns: 1fr;
    grid-template-rows   : auto; */
}

nav .nav-menu-mobileContainer{
    display: block;
} 

nav .nav--menuTitle{
    font-size: 2.2rem;
    color: var(--main-black);
    text-align: center;
}

.nav-menu-container{
    margin: 0px;
    justify-self: center;
    overflow: hidden;
}

.nav-config-container{
    margin: 0;
    justify-self: center;
}

nav .nav-menu,
nav .nav-config {
    display: none;
    flex-direction: column;
    gap       : 0;
}

nav .nav-menu li,
nav .nav-config li {
    border : none;
    padding: 0;
}

nav .nav-menu:hover,
nav .nav-config:hover {
    display: flex;
}

body{
    width: 100%;
}

/* INICIO BODY */

/* main {
    grid-template-rows   : repeat(2, auto);
    grid-template-columns: 1fr;
} */

.home-container {
    grid-template-rows   : repeat(2, auto);
    grid-template-columns: 1fr;
}

.main-content-L {
    border-right : none;
    padding-right: 0px;
    margin       : 0;
}

.main-content-R {
    margin: 0;
}