@use '@styles/global_variables' as var; 

* {
    margin : 0;
    padding: 0;

}

html {
    background    : var.$color-main-black;
    font-size     : 62.5%;
    font-family   : 'Inconsolata', monospace;
    color         : var.$color-withe;
    letter-spacing: 0.2rem;
}
