.social-media {
    width              : 100px;
    height             : 100px;
    border-radius      : 20px;
    background-repeat  : no-repeat;
    background-size    : 90%;
    background-position: center;
}

.socialmedia-gmail {
    background-image: url(../assets/gmail.png);
}

.socialmedia-twitter {
    background-image: url(../assets/twitter.png);
}

.socialmedia-instagram {
    background-image: url(../assets/instagram.png);
}

.socialmedia-linkedin {
    background-image: url(../assets/linkedin.png);
}

.socialmedia-github {
    background-image: url(../assets/github.png);
}