@use '@styles/global_variables'as var;

.social-media {
    display         : flex;
    justify-content : center;
    align-items     : center;
    width           : 40px;
    height          : 40px;
    border-radius   : 100%;
    background-color: var.$color-orange;
}

.social-media-container a:link,
.social-media-container a:visited,
.social-media-container a:active,
.social-media-container a:hover {
    text-decoration: none;
    cursor         : pointer;
    color          : var.$color-main-black;
}