/* Global styles */


/* main {
    margin   : 30px 70px 10px 70px;
    font-size: 1.6rem;
} */

/* Main styles */

/* header {
    background: var(--orange);
    width     : 100%;
    height    : 50px;
    font-size : 1.6rem;
}

nav {
    display              : grid;
    height               : 50px;
    grid-template-columns: repeat(2, 1fr);
    align-items          : center;
}

nav .nav-menu-mobileContainer {
    display: none;
} */

/* .nav-menu-container {
    justify-self: flex-start;
    margin-left : 50px;
} */

/* .nav-config-container {
    justify-self: flex-end;
    margin-right: 50px;
}

nav .nav-menu,
nav .nav-config {
    display   : flex;
    list-style: none;
    gap       : 15px;
} */

/* nav .nav-menu li,
nav .nav-config li {
    border : 1px solid black;
    padding: 0 10px;
} */

/* .onPage {
    color           : var(--withe);
    background-color: var(--main-black);
    font-weight     : 500;
} */

/* .home-container {
    display              : grid;
    grid-template-columns: 1fr 2fr;
    height               : 80vh;
} */


/* .main-photo-container {
    width              : 250px;
    height             : 250px;
    border-radius      : 100%;
    background-image   : url("./../assets/photo.jpg");
    background-size    : cover;
    background-repeat  : no-repeat;
    background-position: center;
} */

/* .main-content-L {
    display       : flex;
    margin        : 10px;
    flex-direction: column;
    align-items   : center;
    border-right  : 1px solid var(--orange);
    padding-right : 50px;
}

.main-content-R {
    display       : flex;
    margin        : 15px 15px 15px 60px;
    flex-direction: column;
    align-items   : center;
} */

/* .main-content-L section,
.main-content-R section {
    margin-top: 50px;
    padding   : 15px;
    width     : 100%;
}


.main-content-L section p,
.main-content-R section p {
    margin-top: 15px;
}
 */






/* Mi CV Styles */

/* .miCv-header {
    display              : grid;
    grid-template-columns: 1fr 2fr;
    justify-items        : center;
}

.miCv-header-datos {
    margin-left: 70px;
    padding: 15px;
    width: 90%;
}

.miCv-experience-container {
    display   : grid;
    gap       : 50px;
    margin-top: 50px;
}

.miCv-experience-row {
    display              : grid;
    grid-template-columns: 1fr 4fr;
}

.miCv-experience-row div {
    display    : flex;
    padding    : 15px;
    height     : 100%;
    align-items: center;

}

.miCv-tools-container {
    display: flex;
    gap: 40px;
    margin-top: 50px;
    flex-wrap: wrap;
}

.miCv-tool-card{
    max-width: 350px;
    min-width: 200px;
}

.title-cv-card{
    height: 120px;
    padding-top: 70px;
    text-align: center;
}

.body-cv-card{
    height: 200px;
    padding: 15px;
} */