@use '@styles/global_variables'as var;

.home-container {
    display              : grid;
    grid-template-columns: 1fr 2fr;
    height               : 80vh;
    margin               : 30px 70px 10px 70px;
}

.home-container .main-content-L {
    display       : flex;
    margin        : 10px;
    flex-direction: column;
    align-items   : center;
    border-right  : 1px solid var.$color-orange;
    padding-right : 50px;
    min-width     : 300px;
}

.home-container .main-content-R {
    display       : flex;
    margin        : 15px 15px 15px 60px;
    flex-direction: column;
    align-items   : center;
}

.home-container .main-content-L section,
.home-container .main-content-R section {
    margin-top: 50px;
    padding   : 15px;
    width     : 100%;
}

.home-container .main-content-L section p,
.home-container .main-content-R section p {
    margin-top: 15px;
}

.home-container .main-photo-container {
    width              : 250px;
    height             : 250px;
    border-radius      : 100%;
    background-image   : url("./../../assets/photo.jpg");
    background-size    : cover;
    background-repeat  : no-repeat;
    background-position: center;
}

@media (max-width: var.$breakpoint-tablet) {
    .home-container.home-container {
        margin               : 10px 0 0 0;
        padding              : 0 30px 0 30px;
        grid-template-rows   : repeat(2, auto);
        grid-template-columns: 1fr;
    }

    .home-container .main-content-L {
        border-right : none;
        padding-right: 0px;
        margin       : 0;
    }

    .home-container .main-content-R {
        margin: 0;
    }
}