@use '@styles/global_variables'as var;

.myCvContainer {
    margin        : 30px 70px 10px 70px;
    font-family   : Helvetica, Arial, Verdana, sans-serif;
    letter-spacing: 0.1rem;
    line-height   : 1.5;
}

.myCvContainer .main-photo-container {
    width              : 250px;
    height             : 250px;
    border-radius      : 100%;
    background-image   : url("./../../assets/photo.jpg");
    background-size    : cover;
    background-repeat  : no-repeat;
    background-position: center;
    justify-self       : center;
}

.myCvContainer .headerContainer {
    display              : grid;
    grid-template-columns: 1fr 3fr;
}

.myCvContainer .headerContainer .headerData {
    margin : 15px;
    padding: 15px;
    border : 1px solid var.$color-green;
}

.myCvContainer .experienceContainer {
    display      : grid;
    justify-items: center;
}

.myCvContainer .ToolsContainer {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: left;
}

.myCvContainer .myCVSection {
    margin-top   : 30px;
    margin-bottom: 30px;
}