@use '@styles/global_variables'as var;

.settingsContainer {
    margin   : 30px 70px 10px 70px;
    font-size: 2rem;
}

.settingsContainer .settingsForm {
    padding: 15px;
}

.settingsContainer .settingsRow {
    margin: 15px;
}

.settingsContainer select {
    margin-left: 30px;
    width      : 300px;
    height     : 40px;
    font-size  : 2rem;
}

.settingsContainer button {
    margin-top      : 50px;
    background-color: var.$color-orange;
    color           : var.$color-withe;
    width           : 300px;
    height          : 40px;
    border          : none;
    cursor          : pointer;
    font-size       : 2rem;
}

@media (max-width: var.$breakpoint-tablet) {
    .settingsContainer {
        margin: 10px 0 0 0;
    }

    .settingsContainer .settingsForm {
        display              : grid;
        grid-template-columns: 1fr;
    }
    
    .settingsContainer select {
        margin-left: 0;
        margin-top: 10px;
    }

    // .myCvContainer .headerContainer {
    //     grid-template-columns: 1fr;
    //     grid-template-rows   : fit-content(250px) 1fr;
    // }

    // .myCvContainer .ToolsContainer {
    //     justify-content: center;
    // }
}