@use '@styles/global_variables'as var;

.CoursesBoxItem {
    margin: 15px;
}

.CoursesBoxItem .CoursesItem {
    padding      : 15px;
    font-size    : 1.4rem;
    border-radius: 20px;
    border       : 1px solid var.$color-green;
}

.CoursesBoxItem a:link,
.CoursesBoxItem a:visited,
.CoursesBoxItem a:active,
.CoursesBoxItem a:hover {
    text-decoration: none;
    cursor         : pointer;
    color          : var.$color-withe;
}