@use '@styles/global_variables'as var;

.CoursesBox {
    margin    : 15px 15px;
    // min-height: 130px;
}

.CoursesBox .CoursesTitle {
    padding: 15px;
    border : 1px solid var.$color-green;
    cursor: pointer;
}

.CoursesBox .CoursesTitle span{
    margin: 0 10px;
}

.CoursesBox .CoursesBody {
    display  : flex;
    padding  : 15px;
    border   : 1px solid var.$color-green;
    flex-wrap: wrap;
}
