@use '@styles/global_variables' as var;

.nav-menu-container {
    padding: 15px 0 15px 50px;
}

.nav-menu {
    display   : flex;
    list-style: none;
    padding: 0 5px;
}

.nav-menu a:link,
.nav-menu a:visited,
.nav-menu a:active,
.nav-menu a:hover {
    text-decoration: none;
    cursor         : pointer;
    color          : var.$color-main-black;
}