@use '@styles/global_variables'as var;

.toolsBox{
    margin: 15px;
    padding: 15px;
    max-width: 280px;
    min-width: 250px;
    border: 1px solid var.$color-green;
    border-radius: 30px;
}

.toolsBox .headerToolsBox{
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    height: 80px;
}

.toolsBox .headerToolsBox .headerToolsLogo{
    width: 30%;
}

.toolsBox .headerToolsBox .headerToolsTitle{
    width: 70%;
}

.toolsBox svg {
    width: 50px;
    height: 50px;
}

